* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    min-height: 100vh;
    background-color: #c1e9ec;
    justify-content: center;
    display: flex;
    align-items: flex-start;
    font-family: 'Roboto', sans-serif;
    color: #a67c52;
    font-size: 18px;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
    background-color: #65c8d0;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 22px;
}

.nav a {
    text-decoration: none;
    color: #e8f3f3;
}

.nav a:hover {
    color: white;
    text-decoration: underline;
}

.title {
    font-family: 'Agbalumo', cursive;
    font-size: 52px;
    color: white;
    font-weight: normal;
    margin: 0;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 30px;
}

.timer {
    background-color: #a67c52;
    font-family: 'Roboto Mono', monospace;
    font-size: 64px;
    font-weight: bold;
    color: white;
    line-height: 1;
    border-radius: 15px;
    width: 260px;
    height: 109px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.pet {
    width: 300px;
    height: 300px;
    background-image: url("img/pomo_spritesheet.svg");
    background-repeat: no-repeat;
    background-size: 2400px 300px;
    margin: auto auto -45px auto;
    position: relative;
    z-index: 2;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: auto;
    gap: 60px;
}

button {
    background-color: white;
    border: none;
    border-radius: 15px;
    padding: 15px;
    width: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #a67c52;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s ease;
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

button:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@keyframes two-frame {
    0%      { background-position: var(--frame-1) 0; }
    49.999% { background-position: var(--frame-1) 0; }
    50%     { background-position: var(--frame-2) 0; }
    100%    { background-position: var(--frame-2) 0; }
}

.pet.idle {
    --frame-1: 0px;
    --frame-2: -300px;

    animation: two-frame 1s steps(1, end) infinite;
}

.pet.study {
    --frame-1: -600px;
    --frame-2: -900px;

    animation: two-frame 1s steps(1, end) infinite;
}

.pet.break {
    --frame-1: -1200px;
    --frame-2: -1500px;

    animation: two-frame 1s steps(1, end) infinite;
}

.pet.finished {
    --frame-1: -1800px;
    --frame-2: -2100px;

    animation: two-frame 1s steps(1, end) infinite;
}

.pet.paused {
    animation-play-state: paused;
}

.study_form table, td {
    padding: 5px;
    font-weight: bold;
}

.study_form td {
    padding-right: 50px;
}

.study_form input {
    width: 50px;
    padding: 5px;
    box-sizing: border-box;

}

.study_form input:focus {
    outline: none;
}

.study_form input[type=checkbox] {
    width: 30px;
    height: 30px;
}