{% extends "layout.html" %}

{% block main %}
<div class="main">
<div class="pet">
</div>
<div class="timer">
    <span id="timer">25:00</span>
</div>
<div class="buttons">
    <button type="button" id="start_button">Start</button>
    <button type="button" id="stop_button">Stop</button>
</div>
</div>
{% endblock %}

{% block scripts %}
    <!-- embed Pomodoro settings as JSON to avoid JS parsing errors in editors -->
    <script id="settings" type="application/json">{{ settings | tojson }}</script>
    <script src="/static/script.js"></script>
{% endblock %}