<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Study Budgie</title>
    <link href="../static/pomo_style.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Agbalumo&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" type="image/svg+xml" href="../static/img/studybudgie.svg">
  </head>
  <body>
    <div class="container">
      <header class="header">
        <h1 class="title">Study Budgie</h1>
        <nav class="nav">
          <a href="/">Settings</a>
        </nav>
      </header>
      {% block main %}{% endblock %} {% block scripts %}{% endblock %}
    </div>
  </body>
</html>
